html {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
}

section.goal {
    width: 60%;
    margin-left: 20%;
}

section.goal h1 {
    font-size: xx-large;
}

section.goal p {
    font-size: larger;
    direction: rtl;
}

section.design_hover {
    background-color: cadetblue;
    text-align: center;
    font-size: medium;
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
}

a:hover {
    color: black;
}

section.design_hover:hover {
    background-color: rgb(96, 198, 202);
}

main section.soldier {
    width: 45%;
    margin-left: 27.5%;
    margin-top: 7%;
    border-radius: 10px;
    padding-top: 0.5rem;
    background-color: beige;
    border: 2px black solid;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

}

h1 {
    text-align: center;
    font-size: large;
}

main section.soldier a {
    text-decoration: none;
}

main section.commander {
    margin-top: 2.5rem;
    text-align: center;
    width: 45%;
    margin-left: 27.5%;
}

main section label {
    font-size: large;
    display: block;
    margin-bottom: 0.5rem;
}

main section form#admin-login-form {
    background: beige;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    border: 2px solid black;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

section form input#admin-password {
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    font-size: large;
    width: 80%;
    text-align: center;
}

section form button#admin-login-btn {
    background: rgb(194, 110, 213);
    color: #fff;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-size: x-large;
    cursor: pointer;
    margin-top: 0.5rem;
}

section form button#admin-login-btn:hover {
    color: black;
    transition: 0.2s;
}

footer {
    font-size: large;
    margin-top: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}